aiofiles==0.6.0
click==7.1.2
fastapi==0.63.0
greenlet==1.0.0
h11==0.12.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mysql==0.0.2
mysql-connector-python==8.0.23
mysqlclient==2.0.3
protobuf==3.15.8
pydantic==1.8.1
six==1.15.0
SQLAlchemy==1.4.9
sqlalchemy-json==0.4.0
starlette==0.13.6
typing-extensions==3.7.4.3
uvicorn==0.13.4
